---
layout: default
title: ファイル一覧
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <h1>HTMLファイル一覧</h1>
    <ul>
        {% for file in site.static_files %}
            {% if file.extname == ".html" and file.name != "index.html" %}
                <li>
                    <a href="{{ file.path | relative_url }}">{{ file.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>
